<<<<<<< HEAD
.modalBackground {
    width: 100vw;
    height: 120vh;
    background-color:rgba(155, 159, 159, 0.251);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
  }
  
  .modalContainer {
    width: 500px;
    height: 230px;
    border-radius: 12px;
    background-image: linear-gradient(to right, rgb(180, 144, 144) , rgb(154, 199, 251));
    box-shadow: rgba(77, 192, 254, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .modalContainer {
    display: inline-block;
    text-align: center;
  }
  .title {
    display: inline-block;
    text-align: center;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 1px;
    cursor: pointer;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    border-radius: 80px;
    
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 100px;
    height: 35px;
    margin: 10px;
    border: none;
    background-color: rgb(222, 230, 241);
    color: rgba(224, 132, 132, 0.907);
    border-radius: 80px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: rgb(232, 26, 68);
  }
  .address {
    display: block;
    margin: auto;
    height: 30px;
    width: 420px;
    text-align: center;
  }
  
  input[type="text"]:focus {
    background-color: rgb(157, 217, 237);
=======
.modalBackground {
    width: 100vw;
    height: 120vh;
    backdrop-filter: blur(3px); /* Adjust the blur amount as needed */
  background: #1c2e4a,9.4;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
  }
  
  .modalContainer {
    width: 500px;
    height: 240px;
    border-radius: 12px;
   background-color: #3ded97;
   
    box-shadow: rgba(49, 50, 51, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .modalContainer {
    display: inline-block;
    text-align: center;
  }
  .title {
    display: inline-block;
    text-align: center;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 1px;
    cursor: pointer;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    border-radius: 80px;
    
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 100px;
    height: 35px;
    margin: 10px;
    border: none;
    background-color: rgb(222, 230, 241);
    color: rgba(224, 132, 132, 0.907);
    border-radius: 80px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: rgb(232, 26, 68);
  }
  .address {
    display: block;
    margin: auto;
    height: 30px;
    width: 420px;
    text-align: center;
  }
  
  input[type="text"]:focus {
<<<<<<< HEAD
    background-color: rgb(157, 217, 237);
>>>>>>> f361141 (v1)
  }
=======
    background-color: rgb(171, 224, 206);
  }
  /* Style for the dropdown container */
  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
    
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #466d1d;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #466d1d;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }
  
>>>>>>> f658232 (v2)
